<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MACaptionDefaultActiveProfile</key>
	<string>MACaptionProfile-Default</string>
	<key>MACaptionDisplayType</key>
	<integer>2</integer>
	<key>MACaptionSystemDefaultProfile</key>
	<dict>
		<key>MAIsEditable</key>
		<false/>
		<key>MACaptionProfileOrder</key>
		<integer>1</integer>
		<key>MACaptionWindowRoundedCorners</key>
		<integer>8</integer>
		<key>MACaptionWindowColor</key>
		<dict>
			<key>Green</key>
			<real>0</real>
			<key>Blue</key>
			<real>0</real>
			<key>Red</key>
			<real>0</real>
			<key>Alpha</key>
			<real>1</real>
		</dict>
		<key>MACaptionVideoOverrideBackgroundOpacity</key>
		<false/>
		<key>MACaptionFontDefault</key>
		<string>Arial Bold</string>
		<key>MACaptionVideOverrideFontMACaptionFontCursive</key>
		<true/>
		<key>MACaptionFontProportinalWithoutSerif</key>
		<string>Trebuchet MS Bold</string>
		<key>MACaptionVideOverrideFontMACaptionFontMonoWithoutSerif</key>
		<true/>
		<key>MACaptionVideoOverrideBackgroundColor</key>
		<false/>
		<key>MACaptionCharScale</key>
		<real>1</real>
		<key>MACaptionForegroundOpacity</key>
		<real>1</real>
		<key>MACaptionVideoOverrideWindowColor</key>
		<true/>
		<key>MACaptionForegroundColor</key>
		<dict>
			<key>Green</key>
			<real>1</real>
			<key>Blue</key>
			<real>1</real>
			<key>Red</key>
			<real>1</real>
			<key>Alpha</key>
			<real>1</real>
		</dict>
		<key>MACaptionVideoOverrideForegroundOpacity</key>
		<true/>
		<key>MACaptionVideOverrideFontMACaptionFontSmallCapital</key>
		<true/>
		<key>MACaptionVideoOverrideCharScale</key>
		<true/>
		<key>MACaptionFontSmallCapital</key>
		<string>Courier New Bold</string>
		<key>MACaptionVideoOverrideWindowOpacity</key>
		<false/>
		<key>MACaptionVideOverrideFontMACaptionFontProportinalWithoutSerif</key>
		<true/>
		<key>MACaptionFontMonoWithoutSerif</key>
		<string>Lucida Console</string>
		<key>MACaptionVideOverrideFontMACaptionFontDefault</key>
		<true/>
		<key>MACaptionVideOverrideFontMACaptionFontCasual</key>
		<true/>
		<key>MACaptionVideOverrideFontMACaptionFontProportinalWithSerif</key>
		<true/>
		<key>MACaptionWindowOpacity</key>
		<real>0.5</real>
		<key>MACaptionTextEdgeStyle</key>
		<integer>1</integer>
		<key>MACaptionFontCasual</key>
		<string>Impact</string>
		<key>MACaptionFontMonoWithSerif</key>
		<string>Courier New Bold</string>
		<key>MACaptionFontCursive</key>
		<string>Segoe Script</string>
		<key>MACaptionFontProportinalWithSerif</key>
		<string>Times New Roman</string>
		<key>MACaptionBackgroundOpacity</key>
		<real>0</real>
		<key>MACaptionVideoOverrideTextEdgeStyle</key>
		<true/>
		<key>MACaptionProfileName</key>
		<string>MALocalize-MADefault</string>
		<key>MACaptionVideoOverrideForegroundColor</key>
		<true/>
		<key>MACaptionVideOverrideFontMACaptionFontMonoWithSerif</key>
		<true/>
		<key>MACaptionBackgroundColor</key>
		<dict>
			<key>Green</key>
			<real>0</real>
			<key>Blue</key>
			<real>0</real>
			<key>Red</key>
			<real>0</real>
			<key>Alpha</key>
			<real>1</real>
		</dict>
	</dict>
	<key>MACaptionProfile-Default</key>
	<dict>
		<key>MAIsEditable</key>
		<false/>
		<key>MACaptionProfileOrder</key>
		<integer>1</integer>
		<key>MACaptionWindowRoundedCorners</key>
		<integer>8</integer>
		<key>MACaptionWindowColor</key>
		<dict>
			<key>Green</key>
			<real>0</real>
			<key>Blue</key>
			<real>0</real>
			<key>Red</key>
			<real>0</real>
			<key>Alpha</key>
			<real>1</real>
		</dict>
		<key>MACaptionVideoOverrideBackgroundOpacity</key>
		<false/>
		<key>MACaptionFontDefault</key>
		<string>Arial Bold</string>
		<key>MACaptionVideOverrideFontMACaptionFontCursive</key>
		<true/>
		<key>MACaptionFontProportinalWithoutSerif</key>
		<string>Trebuchet MS Bold</string>
		<key>MACaptionVideOverrideFontMACaptionFontMonoWithoutSerif</key>
		<true/>
		<key>MACaptionVideoOverrideBackgroundColor</key>
		<false/>
		<key>MACaptionCharScale</key>
		<real>1</real>
		<key>MACaptionForegroundOpacity</key>
		<real>1</real>
		<key>MACaptionVideoOverrideWindowColor</key>
		<true/>
		<key>MACaptionForegroundColor</key>
		<dict>
			<key>Green</key>
			<real>1</real>
			<key>Blue</key>
			<real>1</real>
			<key>Red</key>
			<real>1</real>
			<key>Alpha</key>
			<real>1</real>
		</dict>
		<key>MACaptionVideoOverrideForegroundOpacity</key>
		<true/>
		<key>MACaptionVideOverrideFontMACaptionFontSmallCapital</key>
		<true/>
		<key>MACaptionVideoOverrideCharScale</key>
		<true/>
		<key>MACaptionFontSmallCapital</key>
		<string>Courier New Bold</string>
		<key>MACaptionVideoOverrideWindowOpacity</key>
		<false/>
		<key>MACaptionVideOverrideFontMACaptionFontProportinalWithoutSerif</key>
		<true/>
		<key>MACaptionFontMonoWithoutSerif</key>
		<string>Lucida Console</string>
		<key>MACaptionVideOverrideFontMACaptionFontDefault</key>
		<true/>
		<key>MACaptionVideOverrideFontMACaptionFontCasual</key>
		<true/>
		<key>MACaptionVideOverrideFontMACaptionFontProportinalWithSerif</key>
		<true/>
		<key>MACaptionWindowOpacity</key>
		<real>0.5</real>
		<key>MACaptionTextEdgeStyle</key>
		<integer>1</integer>
		<key>MACaptionFontCasual</key>
		<string>Impact</string>
		<key>MACaptionFontMonoWithSerif</key>
		<string>Courier New Bold</string>
		<key>MACaptionFontCursive</key>
		<string>Segoe Script</string>
		<key>MACaptionFontProportinalWithSerif</key>
		<string>Times New Roman</string>
		<key>MACaptionBackgroundOpacity</key>
		<real>0</real>
		<key>MACaptionVideoOverrideTextEdgeStyle</key>
		<true/>
		<key>MACaptionProfileName</key>
		<string>MALocalize-MADefault</string>
		<key>MACaptionVideoOverrideForegroundColor</key>
		<true/>
		<key>MACaptionVideOverrideFontMACaptionFontMonoWithSerif</key>
		<true/>
		<key>MACaptionBackgroundColor</key>
		<dict>
			<key>Green</key>
			<real>0</real>
			<key>Blue</key>
			<real>0</real>
			<key>Red</key>
			<real>0</real>
			<key>Alpha</key>
			<real>1</real>
		</dict>
	</dict>
	<key>MACaptionProfile-LargeText</key>
	<dict>
		<key>MAIsEditable</key>
		<false/>
		<key>MACaptionProfileOrder</key>
		<integer>2</integer>
		<key>MACaptionWindowRoundedCorners</key>
		<integer>8</integer>
		<key>MACaptionWindowColor</key>
		<dict>
			<key>Green</key>
			<real>0</real>
			<key>Blue</key>
			<real>0</real>
			<key>Red</key>
			<real>0</real>
			<key>Alpha</key>
			<real>1</real>
		</dict>
		<key>MACaptionVideoOverrideBackgroundOpacity</key>
		<false/>
		<key>MACaptionFontDefault</key>
		<string>Arial Bold</string>
		<key>MACaptionVideOverrideFontMACaptionFontCursive</key>
		<true/>
		<key>MACaptionFontProportinalWithoutSerif</key>
		<string>Trebuchet MS Bold</string>
		<key>MACaptionVideOverrideFontMACaptionFontMonoWithoutSerif</key>
		<true/>
		<key>MACaptionVideoOverrideBackgroundColor</key>
		<false/>
		<key>MACaptionCharScale</key>
		<real>1.5</real>
		<key>MACaptionForegroundOpacity</key>
		<real>1</real>
		<key>MACaptionVideoOverrideWindowColor</key>
		<true/>
		<key>MACaptionForegroundColor</key>
		<dict>
			<key>Green</key>
			<real>1</real>
			<key>Blue</key>
			<real>1</real>
			<key>Red</key>
			<real>1</real>
			<key>Alpha</key>
			<real>1</real>
		</dict>
		<key>MACaptionVideoOverrideForegroundOpacity</key>
		<true/>
		<key>MACaptionVideOverrideFontMACaptionFontSmallCapital</key>
		<true/>
		<key>MACaptionVideoOverrideCharScale</key>
		<false/>
		<key>MACaptionFontSmallCapital</key>
		<string>Courier New Bold</string>
		<key>MACaptionVideoOverrideWindowOpacity</key>
		<false/>
		<key>MACaptionVideOverrideFontMACaptionFontProportinalWithoutSerif</key>
		<true/>
		<key>MACaptionFontMonoWithoutSerif</key>
		<string>Lucida Console</string>
		<key>MACaptionVideOverrideFontMACaptionFontDefault</key>
		<true/>
		<key>MACaptionVideOverrideFontMACaptionFontCasual</key>
		<true/>
		<key>MACaptionVideOverrideFontMACaptionFontProportinalWithSerif</key>
		<true/>
		<key>MACaptionWindowOpacity</key>
		<real>0.5</real>
		<key>MACaptionTextEdgeStyle</key>
		<integer>1</integer>
		<key>MACaptionFontCasual</key>
		<string>Impact</string>
		<key>MACaptionFontMonoWithSerif</key>
		<string>Courier New Bold</string>
		<key>MACaptionFontCursive</key>
		<string>Segoe Script</string>
		<key>MACaptionFontProportinalWithSerif</key>
		<string>Times New Roman</string>
		<key>MACaptionBackgroundOpacity</key>
		<real>0</real>
		<key>MACaptionVideoOverrideTextEdgeStyle</key>
		<true/>
		<key>MACaptionProfileName</key>
		<string>MALocalize-MALargeText</string>
		<key>MACaptionVideoOverrideForegroundColor</key>
		<true/>
		<key>MACaptionVideOverrideFontMACaptionFontMonoWithSerif</key>
		<true/>
		<key>MACaptionBackgroundColor</key>
		<dict>
			<key>Green</key>
			<real>0</real>
			<key>Blue</key>
			<real>0</real>
			<key>Red</key>
			<real>0</real>
			<key>Alpha</key>
			<real>1</real>
		</dict>
	</dict>
	<key>MACaptionProfile-Classic</key>
	<dict>
		<key>MAIsEditable</key>
		<false/>
		<key>MACaptionProfileOrder</key>
		<integer>3</integer>
		<key>MACaptionWindowRoundedCorners</key>
		<integer>0</integer>
		<key>MACaptionWindowColor</key>
		<dict>
			<key>Green</key>
			<real>0</real>
			<key>Blue</key>
			<real>0</real>
			<key>Red</key>
			<real>0</real>
			<key>Alpha</key>
			<real>1</real>
		</dict>
		<key>MACaptionVideoOverrideBackgroundOpacity</key>
		<true/>
		<key>MACaptionFontDefault</key>
		<string>Courier New</string>
		<key>MACaptionVideOverrideFontMACaptionFontCursive</key>
		<true/>
		<key>MACaptionFontProportinalWithoutSerif</key>
		<string>Courier New</string>
		<key>MACaptionVideOverrideFontMACaptionFontMonoWithoutSerif</key>
		<true/>
		<key>MACaptionVideoOverrideBackgroundColor</key>
		<true/>
		<key>MACaptionCharScale</key>
		<integer>1</integer>
		<key>MACaptionForegroundOpacity</key>
		<real>1</real>
		<key>MACaptionVideoOverrideWindowColor</key>
		<true/>
		<key>MACaptionForegroundColor</key>
		<dict>
			<key>Green</key>
			<real>1</real>
			<key>Blue</key>
			<real>1</real>
			<key>Red</key>
			<real>1</real>
			<key>Alpha</key>
			<real>1</real>
		</dict>
		<key>MACaptionVideoOverrideForegroundOpacity</key>
		<true/>
		<key>MACaptionVideOverrideFontMACaptionFontSmallCapital</key>
		<true/>
		<key>MACaptionVideoOverrideCharScale</key>
		<true/>
		<key>MACaptionFontSmallCapital</key>
		<string>Courier New</string>
		<key>MACaptionVideoOverrideWindowOpacity</key>
		<false/>
		<key>MACaptionVideOverrideFontMACaptionFontProportinalWithoutSerif</key>
		<true/>
		<key>MACaptionFontMonoWithoutSerif</key>
		<string>Courier New</string>
		<key>MACaptionVideOverrideFontMACaptionFontDefault</key>
		<true/>
		<key>MACaptionVideOverrideFontMACaptionFontCasual</key>
		<true/>
		<key>MACaptionVideOverrideFontMACaptionFontProportinalWithSerif</key>
		<true/>
		<key>MACaptionWindowOpacity</key>
		<real>0</real>
		<key>MACaptionTextEdgeStyle</key>
		<integer>1</integer>
		<key>MACaptionFontCasual</key>
		<string>Courier New</string>
		<key>MACaptionFontMonoWithSerif</key>
		<string>Courier New</string>
		<key>MACaptionFontCursive</key>
		<string>Courier New</string>
		<key>MACaptionFontProportinalWithSerif</key>
		<string>Courier New</string>
		<key>MACaptionBackgroundOpacity</key>
		<real>1</real>
		<key>MACaptionVideoOverrideTextEdgeStyle</key>
		<true/>
		<key>MACaptionProfileName</key>
		<string>MALocalize-MAClassic</string>
		<key>MACaptionVideoOverrideForegroundColor</key>
		<true/>
		<key>MACaptionVideOverrideFontMACaptionFontMonoWithSerif</key>
		<true/>
		<key>MACaptionBackgroundColor</key>
		<dict>
			<key>Green</key>
			<real>0</real>
			<key>Blue</key>
			<real>0</real>
			<key>Red</key>
			<real>0</real>
			<key>Alpha</key>
			<real>1</real>
		</dict>
	</dict>
</dict>
</plist>
